<?xml version="1.0" encoding="UTF-8"?>
<Configuration
	xmlns="http://logging.apache.org/log4j/2.0/config">

	<Appenders>
		<Console name="stdout" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} %5p [%c{1.}] %m%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Logger name="org.springframework" level="debug" />
	
		<Logger name="com.sample" level="info" />

		<Logger name="com.sample.dao" level="trace" />

		<Root level="error">
			<AppenderRef ref="stdout" />
		</Root>
	</Loggers>

</Configuration>