<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.attr.mapper.AttrMapper">
	
	
	<resultMap id="AttrResultMap" type="com.nadri.attr.vo.Attraction">
		<id column="att_no" property="no"/>
		<result column="att_name" property="name"/>
		<result column="att_content" property="content"/>
		<result column="att_startdate" property="startDate"/>
		<result column="att_enddate" property="endDate"/>
		<result column="att_place" property="place"/>
		<result column="att_sales" property="sales"/>
		<result column="att_price" property="price"/>
		<result column="att_discountprice" property="discountPrice"/>
		<result column="att_category" property="category"/>
		<result column="att_thumbnail" property="thumbnail"/>
		<result column="att_photo" property="photo"/>
		<result column="att_address" property="address"/>
		<result column="att_detailcontent" property="detail"/>
		<result column="star" property="star"/>
		<result column="cnt" property="count"/>
		<collection property="attOption" resultMap="AttrOptionMap" />
	</resultMap>
	
	<resultMap id="AttrOptionMap" type="com.nadri.attr.vo.AttOption">
		<result column="att_no" property="no"/>
		<result column="att_option" property="option"/>
		<result column="att_price" property="price"/>
		<result column="att_discountprice" property="discountPrice"/>
		<result column="att_optno" property="optNo"/>
	</resultMap>

	<!-- 전체 리스트 -->
	<select id="allAttrList" resultMap="AttrResultMap">
		<![CDATA[
		select
			b.att_no,
			b.att_name,
			b.att_content,
			b.att_startdate,
			b.att_enddate,
			b.att_place,
			b.att_sales,
			b.att_price,
			b.att_discountprice,
			b.att_category,
			b.att_thumbnail,
			b.att_photo,
			(select nvl(round(avg(x.review_star),1), 0) from att_review x where x.att_no = b.att_no) star,
			(select count(x.review_no) cnt from att_review x where x.att_no = b.att_no) cnt
		from attraction b
        where (att_enddate is null or att_enddate > sysdate)
		order by att_no desc
		]]>
	</select>
	
	<!-- 상품 수 -->
	<select id="attrcount" resultType="int">
		select count(*)
		from attraction
	</select>
	
	<!-- 카테고리 -->
	<select id="searchAttraction" parameterType="com.nadri.attr.vo.Search" resultMap="AttrResultMap">
		
		select *
		from (
		        select a.*,
		        (select nvl(round(avg(x.review_star),1), 0) from att_review x where x.att_no = a.att_no) star,
				(select count(x.review_no) cnt from att_review x where x.att_no = a.att_no) cnt
		        from attraction a
		        where att_place like '%' || #{place} || '%'
		        and (att_enddate is null or att_enddate > sysdate)
		        <if test="keyword != null">
		        	and (replace(att_name, ' ', '')  like '%' || #{keyword} || '%'
		        	or replace(att_content, ' ', '') like '%' || #{keyword} || '%')
		        </if>
		        <if test="category != null">
		        	and att_category like '%' || #{category} || '%'
		        </if>
		        <if test="startdate != null">
		        	and (att_startdate is null or to_char(#{startdate},'YYYY-MM-DD') &gt; att_startdate)
		        </if>
		        <if test="enddate != null">
		        	and (att_startdate is null or to_char(#{enddate},'YYYY-MM-DD') &lt; att_enddate)
		        </if>
		     )
		order by att_no desc
		
	</select>
	
	<!-- 검색결과 갯수 -->
	<select id="getSearchedRow" parameterType="com.nadri.attr.vo.Search" resultType="int">	
		select count(*)
		from (
		        select a.*
		        from attraction a
		        where att_place like '%' || #{place} || '%'
		        and (att_enddate is null or att_enddate > sysdate)
		        <if test="keyword != null">
		        	and (replace(att_name, ' ', '')  like '%' || #{keyword} || '%'
		        	or replace(att_content, ' ', '') like '%' || #{keyword} || '%')
		        </if>
		        <if test="category != null">
		        	and att_category like '%' || #{category} || '%'
		        </if>
		        <if test="startdate != null">
		        	and (att_startdate is null or to_char(#{startdate},'YYYY-MM-DD') &gt; att_startdate)
		        </if>
		        <if test="enddate != null">
		        	and (att_startdate is null or to_char(#{enddate},'YYYY-MM-DD') &lt; att_enddate)
		        </if>
		     )
		order by att_no desc
	</select>	
	
	<!-- 디테일페이지-설명/옵션/쿠폰 -->
	<select id="getDetailByNo" parameterType="int" resultMap="AttrResultMap">
		select  *
		from attraction 
		where att_no = #{no}
	</select>
	<select id="getOptionByNo" parameterType="int" resultMap="AttrOptionMap">
		select *
		from att_option
		where att_no = #{no}
	</select>
	<select id="coupon" parameterType="int" resultType="com.nadri.coupon.vo.UserCoupon">
		select DISTINCT c.coupon_name as couponName, 
				c.coupon_category as category, 
				c.coupon_discountrate as discountRate, 
				c.coupon_enddate as endDate,
				c.coupon_no as couponNo
		from coupons c, coupons_user u
		where c.coupon_no not in (select coupon_no  
                        from coupons_user
                        where user_no = #{userNo})
        and coupon_category like '%즐길거리%'
		and coupon_enddate > sysdate
		and coupon_deleted='n'
		and coupon_used='n'
        and coupon_quantity > 0
	</select>

	<!-- 리뷰수 -->
	<select id="reviewCount" parameterType="int" resultType="int">
		<![CDATA[
			select count(*) cnt
			from att_review
			where att_no = #{no}
		]]>		
	</select>
	
	<select id="star" parameterType="int" resultType="double">
		<![CDATA[
			select nvl(round(avg(review_star),1), 0)
			from att_review
			where att_no = #{no}
		]]>		
	</select>
	
	<select id="random" resultMap="AttrResultMap">
		<![CDATA[
		select *
		from(
		    select * from attraction
		    order by DBMS_RANDOM.RANDOM
			)
		where rownum<4
		and att_no != #{no}
		and att_place = #{place}
		]]>	
	</select>
	
	<select id="mainRandomAttr" resultMap="AttrResultMap">
		<![CDATA[
        select att_no, att_name, att_thumbnail, att_place
		from(
		    select * from attraction
		    order by DBMS_RANDOM.RANDOM
			)
		where rownum<5
		and (att_enddate is null or att_enddate > sysdate)
		]]>		
	</select>
	<select id="mainRandomRes" resultType="com.nadri.restaurant.vo.Restaurant">
		<![CDATA[
        select restaurant_no no, restaurant_name as name, restaurant_picture as picture, restaurant_address as address
		from(
		    select * from restaurant
		    order by DBMS_RANDOM.RANDOM
			)
		where rownum<5
		]]>		
	</select>
	
</mapper>