<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.attr.mapper.AttrOrderMapper">
	<resultMap id="orderResultMap" type="com.nadri.attr.vo.AttrOrder">
		<id column="order_no" property="orderNo" />
		<result column="order_date" property="orderDate" />
		<result column="att_date" property="attDate" />
		<result column="order_price" property="price" />
		<result column="order_lastprice" property="lastPrice"/>
		<result column="order_deposit" property="deposit" />
		<result column="order_process" property="orderProcess" />
		<result column="user_no" property="userNo" />
		<result column="buyer_tel" property="buyerTel" />
		<result column="buyer_name" property="buyerName" />
		<result column="buyer_email" property="buyerEmail" />
		<result column="att_no" property="attNo" />
		<result column="coupon_no" property="couponNo" />
		<result column="att_option" property="optionName" />
		<result column="att_name" property="attName" />
		<result column="att_price" property="optionPrice" />
		<result column="product_quantity" property="productQuantity" />
		<result column="total_quantity" property="totalQuantity" />
		<collection property="userInfo" resultMap="userResultMap" />
		<collection property="attraction" resultMap="AttrResultMap" />
		<collection property="attOption" resultMap="AttrOptionMap" />
	</resultMap>
	<resultMap id="userResultMap" type="com.nadri.user.vo.User">
		<id column="user_no" property="no"/>
		<result column="user_id" property="id"/>
		<result column="user_email" property="email"/>		
	</resultMap>
	<resultMap id="AttrResultMap" type="com.nadri.attr.vo.Attraction">
		<id column="att_no" property="no"/>
		<result column="att_name" property="name"/>
		<result column="att_price" property="price"/>
		<result column="att_discountprice" property="discountPrice"/>
		<result column="att_sales" property="sales"/>						
	</resultMap>
	<resultMap id="AttrOptionMap" type="com.nadri.attr.vo.AttOption">
		<id column="att_option" property="option"/>
		<result column="att_price" property="price"/>
		<result column="att_discountprice" property="discountPrice"/>
		<result column="att_optno" property="optNo"/>
	</resultMap>
	
	<!-- 무통장 -->
	<!-- 주문정보 -->
	<insert id="depositOrderInfo" parameterType="com.nadri.attr.vo.AttrOrder">
		insert into att_order(order_no, order_price, order_lastprice, user_no, att_date, buyer_tel, buyer_email, buyer_name, att_no, coupon_no, total_quantity)
		values (att_order_no_seq.nextval, #{price}, #{lastPrice}, #{userNo}, #{attDate}, #{buyerTel}, #{buyerEmail}, #{buyerName}, #{attNo}, #{couponNo}, #{totalQuantity})
	</insert>
	<!-- 옵션정보 -->
	<insert id="depositOptionInfo" parameterType="com.nadri.attr.vo.AttrOrder">
		insert into att_order_product(order_no, product_quantity, option_no)
		values (att_order_no_seq.currval, #{productQuantity}, #{optionNo})
	</insert>
	<!-- 판매량 증가 -->
	<update id="salesQuantity" parameterType="int">
		update attraction
		set att_sales = att_sales+1
		where att_no = #{userNo}
	</update>
	
	<!-- 쿠폰사용완료 -->
	<update id="couponUsed">
		update coupons_user
		set coupon_used = 'y'
		where user_no = ${userNo}
		and coupon_no= ${couponNo}
	</update>
	
	<!-- 카카오페이용 -->
	<!-- 주문정보 -->
	<insert id="kakaoOrderInfo" parameterType="com.nadri.attr.vo.AttrOrder">
		<selectKey keyProperty="orderNo" resultType="int" order="BEFORE">
			select att_order_no_seq.nextval from dual
		</selectKey>
		insert into att_order(order_no, order_price, order_lastprice, user_no, att_date, buyer_tel, buyer_email, buyer_name, att_no, coupon_no, total_quantity)
		values (#{orderNo}, #{price}, #{lastPrice}, #{userNo}, #{attDate}, #{buyerTel}, #{buyerEmail}, #{buyerName}, #{attNo}, #{couponNo}, #{totalQuantity})
	</insert>
	<!-- 옵션정보 -->
	<insert id="kakaoOptionInfo" parameterType="com.nadri.attr.vo.AttrOrder">
		insert into att_order_product(order_no, product_quantity, option_no)
		values (att_order_no_seq.currval, #{productQuantity}, #{optionNo})
	</insert>
	<!-- 옵션정보삭제 by userNo -->
	<delete id="kakaoOptionDelete" parameterType="int">
		delete att_order_product
		where order_no=#{orderNo}
	</delete>
	<!-- 주문정보삭제 by userNo -->
	<delete id="kakaoOrderDelete" parameterType="int">
		delete att_order
		where order_no =#{orderNo}	
	</delete>
	<!-- 결제완료 -->
	<update id="kakaoCompleted" parameterType="int">
		update att_order
		set order_process = '결제완료'
		where order_no=#{orderNo}
	</update>
	
	<!-- 예약내역 -->
	<select id="reservList" parameterType="int" resultMap="orderResultMap">
	<![CDATA[
    select a.order_no, 
		    a.att_date,
		    a.order_price,
		    a.order_lastprice, 
		    a.user_no, 
		    a.buyer_tel, 
		    a.buyer_email,
		    a.buyer_name, 
		    a.att_no, 
		    a.coupon_no,
		    a.order_process,
		    a.total_quantity,
		    p.product_quantity, 
		    p.option_no, 
		    o.att_price, 
		    o.att_option, 
		    t.att_name
	from att_order a, att_order_product p, att_option o, attraction t
    where a.order_no = p.order_no(+)
    and p.option_no = o.att_optno(+)
    and a.att_no = t.att_no
    and user_no=#{userNo}
    order by att_date
	]]>
	</select>
	<select id="detailOrderInfo" resultType="com.nadri.attr.vo.AttrOrder">
	select o.order_no as orderNo, 
	o.order_price as price, 
	o.order_lastPrice as lastPrice, 
	o.user_no, o.buyer_tel as buyerTel, 
	o.buyer_email as buyerEmail, 
	o.buyer_name as buyerName, 
	o.total_quantity as totalQuantity, 
    o.coupon_no as couponNo, 
    p.product_quantity as productQuantity, 
    opt.att_option as optionName, 
    opt.att_price as optionPrice, 
    t.att_name as attName
	from att_order o, att_order_product p, att_option opt, attraction t
	where o.order_no = p.order_no(+)
	and p.option_no = opt.att_optno(+)
	and o.att_no = t.att_no(+)
	and o.order_no = #{orderNo}
	and o.user_no = #{userNo}
	</select>
	<!-- 
	<select id="detailOrderInfo" resultMap="orderResultMap">
	select o.order_no, o.order_lastPrice, o.user_no, o.buyer_tel, o.buyer_email, o.buyer_name, o.total_quantity, 
        	o.coupon_no, p.product_quantity, opt.att_option, opt.att_price, t.att_name
	from att_order o, att_order_product p, att_option opt, attraction t
	where o.order_no = p.order_no(+)
	and p.option_no = opt.att_optno(+)
	and o.att_no = t.att_no(+)
	and o.order_no = #{orderNo}
	and o.user_no = #{userNo}
	</select>
	 -->
		
</mapper>