<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.csBoard.mapper.CsBoardMapper">


	<!--
		int getCsBoardsTotalRows(Criteria criteria);
	-->
	<select id="getCsBoardsTotalRows" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="int">
		select count(*)
		from cs_board
		<where>
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == '제목'">
						cs_board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == '내용'">
						cs_board_content like '%' || #{value} || '%'
					</when>
					<when test="opt == '제목+내용'">
						(cs_board_title like '%' || #{value} || '%' 
						or cs_board_content like '%' || #{value} || '%')
					</when>
				</choose>
			</if>
			<if test="csType == '사이트이용'">
				cs_type = '사이트이용'
			</if>
			<if test="csType == '프로모션'">
				cs_type = '프로모션'
			</if>
			<if test="csType == '예약/취소/환불'">
				cs_type = '예약/취소/환불'
			</if>
			<if test="csType == '쿠폰/포인트'">
				cs_type = '쿠폰/포인트'
			</if>
			<if test="csType == '기타'">
				cs_type = '기타'
			</if>
		</where>
	</select>
	
	
	<!--
		List<CsBoard> searchCsBoards(Criteria criteria)
	-->
	<select id="searchCsBoards" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="com.nadri.csBoard.vo.CsBoard">
		select
			cs_board_no no,
			cs_board_title title,
			user_no userNo,
			cs_created_date createdDate,
			cs_reply_check replyCheck,
			cs_type csType,
			user_name userName
		from (
			select
				A.cs_board_no,
				A.cs_board_title,
				A.user_no,
				A.cs_created_date,
				A.cs_reply_check,
				A.cs_type,
				B.user_name,
				row_number() over (order by cs_board_no desc) rn
				
			from cs_board A, user_table B	
		where A.user_no = B.user_no
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == '제목'">
						and cs_board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == '내용'">
						and cs_board_content like '%' || #{value} || '%'
					</when>
					<when test="opt == '제목+내용'">
						and (cs_board_title like '%' || #{value} || '%' 
						or cs_board_content like '%' || #{value} || '%')
					</when>
				</choose>
			</if>
			<if test="csType != null">
				<choose>
					<when test="csType == '사이트이용'">
						and cs_type = '사이트이용'
					</when>
					<when test="csType == '프로모션'">
						and cs_type = '프로모션'
					</when>
					<when test="csType == '예약/취소/환불'">
						and cs_type = '예약/취소/환불'
					</when>
					<when test="csType == '쿠폰/포인트'">
						and cs_type = '쿠폰/포인트'
					</when>
					<when test="csType == '기타'">
						and cs_type = '기타'
					</when>
				</choose>
			</if>
		)
		where rn between #{beginIndex} and #{endIndex}

	</select>
	
	
	<!--
		int getCsBoardsTotalRowsByUserNo(Criteria criteria)
	-->
	<select id="getCsBoardsTotalRowsByUserNo" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="int">
		select count(*)
		from cs_board
		where user_no = #{userNo}
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == '제목'">
						and cs_board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == '내용'">
						and cs_board_content like '%' || #{value} || '%'
					</when>
					<when test="opt == '제목+내용'">
						and (cs_board_title like '%' || #{value} || '%' 
						or cs_board_content like '%' || #{value} || '%')
					</when>
				</choose>
			</if>
			<if test="csType != null">
				<choose>
					<when test="csType == '사이트이용'">
						and cs_type = '사이트이용'
					</when>
					<when test="csType == '프로모션'">
						and cs_type = '프로모션'
					</when>
					<when test="csType == '예약/취소/환불'">
						and cs_type = '예약/취소/환불'
					</when>
					<when test="csType == '쿠폰/포인트'">
						and cs_type = '쿠폰/포인트'
					</when>
					<when test="csType == '기타'">
						and cs_type = '기타'
					</when>
				</choose>
			</if>
	</select>
	
	<!--
		List<CsBoard> searchCsBoardsByUserNo(Criteria criteria)
	-->
	<select id="searchCsBoardsByUserNo" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="com.nadri.csBoard.vo.CsBoard">
		select
			cs_board_no no,
			cs_board_title title,
			user_no userNo,
			cs_created_date createdDate,
			cs_reply_check replyCheck,
			cs_type csType,
			user_name userName
		from (
			select
				A.cs_board_no,
				A.cs_board_title,
				A.user_no,
				A.cs_created_date,
				A.cs_reply_check,
				A.cs_type,
				B.user_name,
				row_number() over (order by cs_board_no desc) rn
				
			from cs_board A, user_table B	
			where A.user_no = B.user_no
			and A.user_no = #{userNo}
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == '제목'">
						and cs_board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == '내용'">
						and cs_board_content like '%' || #{value} || '%'
					</when>
					<when test="opt == '제목+내용'">
						and (cs_board_title like '%' || #{value} || '%' 
						or cs_board_content like '%' || #{value} || '%')
					</when>
				</choose>
			</if>
			<if test="csType != null">
				<choose>
					<when test="csType == '사이트이용'">
						and cs_type = '사이트이용'
					</when>
					<when test="csType == '프로모션'">
						and cs_type = '프로모션'
					</when>
					<when test="csType == '예약/취소/환불'">
						and cs_type = '예약/취소/환불'
					</when>
					<when test="csType == '쿠폰/포인트'">
						and cs_type = '쿠폰/포인트'
					</when>
					<when test="csType == '기타'">
						and cs_type = '기타'
					</when>
				</choose>
			</if>
		)
		where rn between #{beginIndex} and #{endIndex}

	</select>
	
	<!--
		CsBoard getCsBoardDetailByNo(int no)
	-->
	<select id="getCsBoardDetailByNo" parameterType="int" resultType="com.nadri.csBoard.vo.CsBoard">
		select
			A.cs_board_no no,
			A.cs_board_title title,
			A.user_no userNo,
			A.cs_board_content content,
			A.cs_created_date createdDate,
			A.cs_reply_check replyCheck,
			A.cs_type csType,
			B.user_name userName
		from cs_board A, user_table B
		where cs_board_no = #{value}
			and A.user_no = B.user_no
	
	</select>
	
	<!--
		CsBoardReply getReplyByNo(int no)
	-->
	<select id="getReplyByNo" parameterType="int" resultType="com.nadri.csBoard.vo.CsBoardReply">
		select
			cs_board_no boardNo,
			cs_reply_content replyContent,
			cs_reply_created_date replyCreatedDate
		from cs_board
		where cs_board_no = #{value}
	
	</select>
	
	<!--
		void insertCsBoard();
	-->
	<insert id="insertCsBoard" parameterType="com.nadri.csBoard.vo.CsBoard">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select cs_board_no.nextval
			from dual
		</selectKey>
		insert into cs_board
		(cs_board_no, cs_board_title, user_no, cs_board_content, cs_type)
		values
		(cs_board_no.nextval, #{title}, #{userNo}, #{content}, #{csType})
	</insert>
	
	<!--
		void updateCsBoard();
	-->
	<update id="updateCsBoard" parameterType="com.nadri.csBoard.vo.CsBoard">
		update cs_board
		set
			cs_type = #{csType},
			cs_board_title = #{title},
			cs_board_content = #{content}
		where cs_board_no = #{no}
	</update>
	<!--
		void deleteCsBoard();
	-->
	<delete id="deleteCsBoard" parameterType="int">
		delete from cs_board
		where cs_board_no = #{value}
	</delete>
	
	
	<!--
		void insertCsBoardReply(CsBoardReply reply)
	-->
	<update id="insertCsBoardReply" parameterType="com.nadri.csBoard.vo.CsBoardReply">
		update cs_board
		set
			cs_reply_content = #{replyContent},
			cs_reply_created_date = sysdate,
			cs_reply_check = '답변완료'
		where
			cs_board_no = #{no}
	
	</update>

	
	<!--
		void updateCsBoardReply();
	-->
	<update id="updateCsBoardReply" parameterType="com.nadri.csBoard.vo.CsBoardReply">
		update cs_board
		set
			cs_reply_content = #{replyContent},
			cs_reply_check = #{replyCheck}
		where
			cs_board_no = #{no}
	
	</update>
	
</mapper>