<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.csBoard.mapper.CsBoardMapper">


	<!--
		int getCsBoardsTotalRows(Criteria criteria);
	-->
	<select id="getCsBoardsTotalRows" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="int">
	
	</select>
	
	
	<!--
		List<CsBoard> searchCsBoards(Criteria criteria)
	-->
	<select id="searchCsBoards" parameterType="com.nadri.csBoard.web.form.Criteria" resultType="com.nadri.csBoard.vo.CsBoard">
		select
			cs_board_no no,
			cs_board_title title,
			user_no userNo,
			
			
			
	</select>
	
	<!--
		CsBoard getCsBoardDetailByNo(int no)
	-->
	
	<!--
		CsBoardReply getReplyByNo(int no)
	-->
	
	<!--
		void insertCsBoard();
	-->
	<insert id="insertCsBoard" parameterType="com.nadri.csBoard.vo.CsBoard">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select cs_board_no.nextval
			from dual
		</selectKey>
		insert into cs_board
		(cs_board_no, cs_board_title, user_no, cs_board_content, cs_type)
		values
		(#{no}, #{title}, #{userNo}, #{content}, #{type})
	</insert>
	
	<!--
		void updateCsBoard();
	-->
	
	<!--
		void deleteCsBoard();
	-->
	
	<!--
		void insertCsBoardReply();
	-->
	
	<!--
		void updateCsBoardReply();
	-->
	
	<!--
		void deleteCsBoardReply();
	-->

</mapper>