<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.manager.mapper.ManagerMapper">
	<select id="getManager" parameterType="string" resultType="com.nadri.manager.vo.Manager">
		select 
			manager_no as no,
			manager_id as id,
			manager_password as password,
			manager_check as isChecked
		from manager
		where 
			manager_id = #{value}
	</select>
	
	<select id="getAllUser" resultType="com.nadri.user.vo.User">
		select 
			user_no as no, 
			user_id as id, 
			user_name as name, 
			user_birth as birth, 
			user_gender as gender, 
			user_tel as tel, 
			user_address as address, 
			user_point as point, 
			user_delete_check as deleteCheck,  
			user_email as email, 
			user_type as type, 
			user_created_date as createdDate, 
			user_sms_check as smsCheck, 
			user_email_Check as emailCheck
		from  
			user_table
		order by user_no
	</select>
	<select id="getUserByCriteria" parameterType="com.nadri.manager.dto.UserCriteria"  resultType="com.nadri.user.vo.User">
		select 
			user_no as no, 
			user_id as id, 
			user_name as name, 
			user_birth as birth, 
			user_gender as gender, 
			user_tel as tel, 
			user_address as address, 
			user_point as point, 
			user_delete_check as deleteCheck,  
			user_email as email, 
			user_type as type, 
			user_created_date as createdDate, 
			user_sms_check as smsCheck, 
			user_email_check as emailCheck,
			user_deleted_date as deletedDate
		from  (select row_number() over(order by user_no) rn, user_no, 
			   		  user_id, user_name, user_birth, user_gender, user_tel, user_address, user_point, user_delete_check,  
			   	 	  user_email, user_type, user_created_date, user_sms_check, user_email_check, user_deleted_date
			   from  
			   		user_table
			<where>
				<if test='keyword != "" or keyword != null'>
					<choose>
						<when test='option == "id"'>
							user_id like '%' || #{keyword} || '%'
						</when>
						<when test='option == "name"'>
							user_name like '%' || #{keyword} || '%'
						</when>
					</choose>
				</if>
				<if test='deleted == "Y"'>
					and user_delete_check = 1
				</if>
				<if test='email == "Y"'>
					and user_email_check is not null
				</if>
				<if test='sms == "Y"'>
					and user_sms_check is not null
				</if>
			</where>)
		where rn >= #{pageNo}*5-4 and rn &lt; #{pageNo}*5 + 1
	</select>
	
	<select id="getCountUserByCriteria" parameterType="com.nadri.manager.dto.UserCriteria"  resultType="int">
		select count(*)
		from user_table
		<where>
			<if test='keyword != "" or keyword != null'>
				<choose>
					<when test='option == "id"'>
						user_id like '%' || #{keyword} || '%'
					</when>
					<when test='option == "name"'>
						user_name like '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
			<if test='deleted == "Y"'>
				and user_delete_check = 1
			</if>
			<if test='email == "Y"'>
				and user_email_check is not null
			</if>
			<if test='sms == "Y"'>
				and user_sms_check is not null
			</if>
		</where>
	</select>
	
	<!-- 성별 비율 -->
	<select id="getGenderRateOfUser" resultType="int">
		select count(*)
			from user_table
		group by user_gender
	</select>
	<!-- 나이별 비율 -->
	<select id="getAgeRateOfUser" resultType="com.nadri.manager.dto.UserAgeRate">
		with age_count 
		as (select age, count(*) as cnt
		from ( select CASE
		        when floor((to_char(sysdate, 'yyyy') - (to_char(user_birth, 'yyyy'))) / 10) * 10 &lt; 20 then 10
		        when floor((to_char(sysdate, 'yyyy') - (to_char(user_birth, 'yyyy'))) / 10) * 10 &lt; 30 then 20
		        when floor((to_char(sysdate, 'yyyy') - (to_char(user_birth, 'yyyy'))) / 10) * 10 &lt; 40 then 30
		        when floor((to_char(sysdate, 'yyyy') - (to_char(user_birth, 'yyyy'))) / 10) * 10 &lt; 50 then 40
		        else 50
		        end as age
		from user_table)
		group by age),
		ages as (
		select level * 10 age
		from dual
		connect by level &lt;=5)
		select b.age as  age,
			nvl(a.cnt, 0) as count
		from age_count a, ages b
		where a.age(+) = b.age
		order by b.age
	</select>
	
	<!-- 인기 노선 BEST4 -->
	<select id="getFavoriteTrain" resultType="com.nadri.manager.dto.FavoriteTrainDto">
		select a.rn as rowNo, 
			t1.station_name || '  ▶  ' || t2.station_name as destination, 
			a.cnt as count, 
			r.route_image as image
		from train_route r, train_station t1, train_station t2,
		        (select row_number() over (order by count(*) desc) rn, s.route_no, count(*) cnt
		        from train_ticket t, train_schedule s
		        where t.schedule_no = s.schedule_no
		        and t.is_canceled = 'N'
		        group by s.route_no) a
		where r.route_no = a.route_no
		and a.rn >=1 and a.rn &lt;= 4
		and r.departure_station_id = t1.station_id
		and r.arrival_station_id = t2.station_id
		order by a.rn
	</select>
	
	<!-- 이번달과 지난달의 회원수 통계 -->
	<!-- 질문 -->
	<select id="getUserCountByMonth" resultType="map">
		with cntDates
		as (
		SELECT *
		FROM (SELECT to_char(USER_CREATED_DATE, 'fmdd') dates, USER_ID, to_char(USER_CREATED_DATE, 'mm') months
		        FROM user_table
		        WHERE to_char(USER_CREATED_DATE, 'yyyy/mm') in (to_char(sysdate, 'yyyy/mm'), to_char(ADD_MONTHS(sysdate, -1), 'yyyy/mm'))    
		    ) V
		    PIVOT( 
		        COUNT(USER_ID)
		        FOR months 
		        IN('01' AS "ONE",
		           '02' AS "TWO")
		        )
		),
		createdDate as (
		select level as lab
		from dual
		connect by level &lt;= 31)
		select d.lab as dates, nvl(c.ONE, 0) as before, nvl(c.TWO, 0) as now
		from cntDates c, createdDate d
		where c.dates(+) = d.lab
		order by d.lab
	</select>
	
</mapper>