<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.noticeBoard.mapper.NoticeBoardMapper">
	
	
	<!-- 
		int getBoardsTotalRows(Criteria criteria)
	-->
	<select id="getBoardsTotalRows()" parameterType="com.nadri.noticeBoard.web.form.Criteria" resultType="int">
		select count(*)
		from notice_Board
		<where>
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == 제목">
						board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == 내용">
						board_content like '%' || #{value} || '%'
					</when>
				</choose>
			</if>
		</where>
	</select>
	<!--
		List<NoticeBoard> searchBoards(Criteria criteria)
	-->
	<select id="searchBoards()" resultType="com.nadri.noticeBoard.web.form.Criteria">
		select
			board_no no,
			board_title title,
			board_content content,
			board_created_date createdDate
		from
			(
			select A.board_no no,
					A.board_title title,
					A.board_content content,
					A.board_created_date createdDate,
					 row_number() over (order by book_no desc) rn
			from
				notice_board A
		<where>
			<if test="opt != null and value != null">
				<choose>
					<when test="opt == 제목">
						board_title like '%' || #{value} || '%'
					</when>
					<when test="opt == 내용">
						board_content like '%' || #{value} || '%'
					</when>
					<when test="opt == 제목+내용">
						board_title like '%' || #{value} || '%'
						 || board_content like '%' || #{value} || '%'
					</when>
				</choose>
			</if>
		</where>
		)
		where rn between #{beginIndex} and #{endIndex}
	</select>

	
	<!--
		NoticeBoard getNoticeBoardDetail(int no)
	-->
	<select id="getNoticeBoardDetail()" parameterType="int" resultType="com.nadri.noticeBoard.vo.NoticeBoard">
		select
			board_no no,
			board_title title,
			board_content content,
			board_created_date createdDate
		from
			notice_board
	</select>
	
	<!--
		void insertNoticeBoard(NoticeBoard noticeBoard)
	-->
	<insert id="insertNoticeBoard()" parameterType="com.nadri.noticeBoard.vo.NoticeBoard">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select notice_board_no.nextval
			from dual
		</selectKey>
		insert into notice_board
		(board_no, board_title, board_content, board_created_date)
		values
		(#{no}, #{title}, #{content}, #{createdDate}, sysdate)
	</insert>
	
	<!--
		void updateNoticeBoard(NoticeBoard noticeBoard)
	-->
	
	<!--
		void deleteNoticeBoard(int no)
	-->



</mapper>