<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nadri.restaurant.mapper.RestaurantMapper">

	<!--
		List<Restaurant> getAllRestaurants();
	-->
	<select id="getAllRestaurants" resultType="com.nadri.restaurant.vo.Restaurant">
		select
			restaurant_no as no,
			restaurant_name as name,
			restaurant_picture	as picture,
			restaurant_content as content,
			restaurant_star_point as starPoint
		from
			restaurant
		order by restaurant_no
	</select>
	
	<!--
		getBestRestaurants()
	-->
	<select id="getBestRestaurants" resultType="com.nadri.restaurant.vo.Restaurant">
		select
			restaurant_no as no,
			restaurant_name as name,
			restaurant_picture as picture,
			restaurant_star_point as starPoint
		from
			(select
				restaurant_no,
				restaurant_name,
				restaurant_picture,
				restaurant_star_point
			from
				restaurant
			order by restaurant_sales desc
				)
		where rownum &lt; to_number(5)
	</select>
	
	
	
	<!--
		Restaurant getRestaurantDetail();
	-->
	<select id="getRestaurantDetail" parameterType="int" resultType="com.nadri.restaurant.vo.Restaurant">
		select
			restaurant_no as no,
			restaurant_name as name,
			restaurant_picture as picture,
			restaurant_sales as sales,
			restaurant_content as content,
			restaurant_address as address,
			restaurant_parking as parking,
			restaurant_restdate as restDate,
			restaurant_tel as tel,
			restaurant_open_time as openTime,
			restaurant_star_point as starPoint,
			restaurant_review_count as reviewCount
		from
			restaurant
		where
			restaurant_no = to_number(#{value})
	
	</select>
	
	<!--
		void insertRestaurant(); json 사용
	
	<insert id="insertRestaurant" parameterType="com.nadri.restaurant.vo.Restaurant">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select restaurant_no.nextval
			from dual
		</selectKey>
		insert into restaurant
		(restaurant_no, restaurant_name, restaurant_picture, restaurant_address, restaurant_parking,
		 restaurant_tel, restaurant_lat, restaurant_lon, city_no, category_no, restaurant_restdate, restaurant_open_time)
		values
		(#{no}, #{name}, #{picture}, #{address}, #{parking}, #{tel}, #{lat}, #{lon}, #{cityNo}, #{categoryNo}, #{restDate}, #{openTime})	
	</insert>
	-->
	
	
	<!-- 
		void insertRestaurant(); form 사용
	-->
	<!--
	<insert id="insertRestaurant" parameterType="com.nadri.restaurant.vo.Restaurant">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select restaurant_no.nextval
			from dual
		</selectKey>
		insert into restaurant
		(restaurant_no, restaurant_name, restaurant_picture, restaurant_content, restaurant_category, restaurant_address,
		restaurant_city, restaurant_parking, restaurant_restdate, restaurant_tel, restaurant_open_time)
		values
		(#{no}, #{name}, #{picture}, #{content}, #{category}, #{address}, #{city}, #{parking}, #{restDate}, #{tel}, #{openTime})	
	</insert>
	  -->
	
	
	<select id="getRestaurantsTotalRows" parameterType="com.nadri.restaurant.web.form.RestaurantCriteria" resultType="int">
		select count(*)
		from restaurant
		where
			<if test="name != null">
					and restaurant_name like '%' || #{name} || '%'
			</if>
			<if test="city != null">
				and city_no = #{city}
			</if>
			<if test="category != null">
				and category_no = #{category}
			</if>			
	</select>
	
	<!-- 
		List<Book> searchBooks(Criteria criteria); 메소드와 매핑되는 SQL 구문 정의
		
		<where 태그>
			+ <where> 태그안에 sql문이 포함되면 where 키워드로 변경된다.
			+ <where> 태그안에 sql문중에서 첫번째 sql문이 "and 컬럼명 = 값" 의 형태면 and를 제거한다. 
	 -->
	<select id="searchRestaurants" parameterType="com.nadri.restaurant.web.form.RestaurantCriteria" resultType="com.nadri.restaurant.vo.Restaurant">
		select
			A.restaurant_no as no,
			A.restaurant_name as name,
			A.restaurant_picture as picture,
			A.restaurant_star_point as starPoint,
			A.restaurant_review_count,
			B.category_name as categoryName,
			C.city_name as cityName
		from (
			select
				A.restaurant_no as no,
				A.restaurant_name as name,
				A.restaurant_picture as picture,
				A.restaurant_star_point as starPoint,
				A.restaurant_review_count as reviewCount,
				B.category_name as categoryName,
				C.city_name as cityName
			row_number() over (order by restaurant_no desc) rn
			from restaurant A, restaurant_category B, restaurant_city C
			where
				A.category_no = B.category_no and A.city_no = C.city_no
				<if test="name != null">
					and restaurant_name like '%' || #{name} || '%'
				</if>
				<if test="city != null">
					and city_no = #{city}
				</if>
				<if test="category != null">
					and category_no = #{category}
				</if>
				<if test="sort == 'sales'">
					order by restaurant_sales desc
				</if>
				<if test="sort == 'starPoint'">
					order by restaurant_star_point desc
				</if>
		)
		where rn between #{beginIndex} and #{endIndex}
	</select>
	
	
	<!-- 
		List<City> getAllCities();
	-->
	<select id="getAllCities" resultType="com.nadri.restaurant.vo.City">
		select
			city_no no,
			city_name cityName
		from
			restaurant_city
	</select>
	
	<!--
		List<Category> getAllCategories();
	-->
	<select id="getAllCategories" resultType="com.nadri.restaurant.vo.Category">
		select
			category_no no,
			category_name categoryName
		from
			restaurant_category
	</select>
	
	
	<!--
		List<RestaurantReview> getReviewsByRestaurantNo()
		페이지네이션 넣고 하기
	-->

	
	<!--
		void insertReview(RestaurantReview restaurnatReview)
		
	-->
	<insert id="insertReview" parameterType="com.nadri.restaurant.vo.RestaurantReview">
		<selectKey keyProperty="no" resultType="int" order="BEFORE">
			select restaurant_review_no.nextval
			from dual
		</selectKey>
		insert into restaurant_review
		()
		values
		()
		where restaurant_no = #{value}
	
	</insert>
	
	<!--
		void updateReview(RestaurantReview restaurantReview)
		사진 수정은 어케함?
	-->
	<update id="updateReview" parameterType="com.nadri.restaurant.vo.RestaurantReview">
		update restaurant_review
		set
			rt_review_title = #{title},
			rt_review_content = #{content},
			rt_review_star_point = #{starPoint}
		where
			review_no = #{no}
	</update>
	
	<!--
		void deleteReview(int ReviewNo)
	-->
	<delete id="deleteReview" parameterType="com.nadri.restaurant.vo.RestaurantReview">
		delete from restaurant_review
		where review_no = #{value}
	</delete>

</mapper>